body{
    margin-top: 25px;
    display: flex;
    background-color: rgb(214, 214, 214);
}

.container{
    background: rgb(112, 171, 173);
    margin: 0 auto;
    text-align: center;
    min-width: 300px;
    min-height: 250px;
    border-radius: 3%;
    box-shadow: 0px 1px 10px 6px black;
}


h1{
    padding: 30px;
    color:aliceblue;
}

button{
    margin-bottom: 10px;
    width: 100px;
    height: 50px;
    margin: 6px;
    text-transform: uppercase;
    border: solid 1px black;
    border-radius: 2%;
}

button:hover{
    background-color: rgb(170, 187, 62);
    color: aliceblue;
}