#janela{
    background-color: brown;
    width: 300px;
    height: 250px;
    font-size: 3.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
